# Enable Java 21 language features
common --java_language_version=21 --java_runtime_version=21
common --tool_java_language_version=21 --tool_java_runtime_version=21

# Bazel Registries
common --registry=https://raw.githubusercontent.com/deepinthinking/puzzle-bazel/refs/heads/registries/central/
common --registry=https://raw.githubusercontent.com/deepinthinking/puzzle-bazel/refs/heads/registries/deepinthinking/

# User-specific .bazelrc
try-import %workspace%/user.bazelrc
